/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	color: #000;

text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

li:hover {
	color: #B1663C;
}
nav ul li a {
	text-decoration: none;
	color: black;
}

nav ul li a:hover {
	text-decoration: none;
	color: #B1663C;
}

nav ul li:hover {
	color: #B1663C;
	cursor: pointer;
}
a {
	text-decoration: none;
}
a:visited{
	color: black;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/*FILTRE*/

.filter__btn:hover, .btn-admin:hover {
	color: white;
	background-color: #1D6154;
	scale: 1.05;
  }
.filters {
	display: flex;
	justify-content: center;
	margin: 40px 0;
  }
  
.filter__btn, .btn-admin {
	font-family: "Syne";
	padding: 10px 20px;
	margin: 0 15px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	color: #1D6154;
	background-color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease;
  }
  
.filter__btn--active, .btn-admin {
	color: white;
	background-color: #1D6154;
  }

.container__login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container__login h2 {
	margin-bottom: 37px;
}

.container__login p {
	margin-bottom: 7px;
}

.container__login input {
	width: 379px;
	height: 51px;
	margin-bottom: 30px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
}

.container__login-button {
	align-self: center;
}

.login-button {
	width: 179px;
	height: 36px;
	border-radius: 60px;
	color: white;
	background-color: #1D6154;
	font-size: 14px;
	font-family: Syne;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 28px;
	cursor: pointer;
	outline: none;
	border: none;
}


.password__forgotten {
	text-decoration: underline;
	cursor: pointer;
}

.login__footer {
	background: white;
	height: 60px;
	width: 100vw;
	position: absolute;
    bottom: 0;
    right: 0;
}

.container__login form {
	display: flex;
	flex-direction: column;
}

.container__login form label {
	margin-bottom: 7px;
}
.error_message {
	color: red;
	margin-bottom: 40px;
	padding: 10px 20px;
	font-size : 15px;
	background: rgba(255, 0, 0, .1);
	font-weight: bold;
    border-radius: 12px;
}

.editor{
	width: auto;
	height: 59px;
	background-color: black;
}
.editorparagraphe{
	color: white;
	text-align: center;
}
.editor-black {
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 11px;
	font-size: 16px;
	font-weight: 400;
	font-family: "Work Sans";
	width: 100%;
	margin: 0px;
	position: sticky;
	top: 0px;
}
.editor-black span{
	padding-top: 20px;
	padding-bottom: 20px;
}
.white-icon {
	color: white;
}
.button-modifier {
	display: flex;
	gap: 11px;
	font-family: "work sans";
	font-size: 14px;
	color: black;
	font-weight: 400;
	align-items: center;
	border: none;
	outline: none;
	background: none;
}

.button-modifier:hover {
	cursor: pointer;
}
.container-modifier {
	display: flex;
	flex-direction: row;
	gap: 31px;
	margin-bottom: 1em;
	justify-content: center;
	align-items: baseline;
}
.container_modale1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	background: rgba(0, 0, 0, .5);
	left: 0px;
}
.modale1 {
	display: flex;
	height: 688px;
	width: 630px;
	background-color: white;
	z-index: 3;
	flex-direction: column;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	margin-top: 57px;
}
.modale1_header {
	display: flex;
	align-self: flex-end;
}
.modale1_content {
	flex-grow: 4;
	display: flex;
    justify-content: center;
    flex-direction: column;
	align-items: center;
}

.modale1_footer {
	margin-bottom: 45px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.modale1_cross {
	margin-top: 26px;
	margin-right: 30px;
}

.modale1_cross:hover {
	cursor: pointer;
}
.modale1_title {
	color: black;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 10px;
}

.modale1_gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 22px 10px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 46px;
}
.gallerymodale_image{
	width: 78px;
	height: 104px;
	flex-shrink: 0;
	display: flex;
	position: relative;
}

.modale1_content {
	flex-grow: 4;
	display: flex;
    justify-content: center;
    flex-direction: column;
	align-items: center;
}

.modale1_footer {
	margin-bottom: 45px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.modale1_line {
	margin-bottom: 38px;
	width: 420px;
}
.modale1_button {
	cursor: pointer;
	border: 1px solid #1D6154;
	border-radius : 60px;
	outline: none;
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background: none;
	padding : 9px 28px 9px 30px;
	color: white;
	background: #1D6154;
	width: 237px;
}
.trashcan {
	background-color: black;
	color: white;
	padding: 4px;
    font-size: 10px;
	position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 3px;
}

.trashcan:hover {
	cursor: pointer;
}
.container_modale2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	background: rgba(0, 0, 0, .5);
	left: 0px;
}

.modale2 {
	display: flex;
	height: 688px;
	width: 630px;
	background-color: white;
	z-index: 3;
	flex-direction: column;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	margin-top: 57px;
}

.modale2_header {
	display: flex;
	align-self: flex-end;
	width: 100%;
    display: flex;
    justify-content: space-between;
}

.modale2_cross {
	margin-top: 26px;
	margin-right: 30px;
}

.modale2_cross:hover {
	cursor: pointer;
}

.modale2_arrow {
	margin-top: 26px;
	margin-left: 30px;
}

.modale2_arrow:hover {
	cursor: pointer;
}

.modale2_title {
	color: black;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 10px;
	margin-bottom: 36px;
	text-align: center;
}

.modale2_content {
	flex-grow: 4;
	display: flex;
	flex-direction: column;
}
.container_file {
	display: flex;
    justify-content: center;
	width: 420px;
	height: 169px;
	background: #E8F1F6;
	position: relative;
}
#preview{
	width: 100%;
	display: flex;
    justify-content: center;
  }
#preview img{
	width: 135px;
  }
#img_project {
	overflow: hidden;
	color: transparent;
	width: 200px; 
    height: 160px; 
    padding: 10px; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
	cursor: pointer; 
	position: absolute;
	opacity: 0;
}
.content_file:hover {
	cursor: pointer;
}

.content_file {
	z-index: 1;
	height: 100%;
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}	
.button_file {
	border-radius: 50px;
	background: #CBD6DC;
	color: #306685;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding : 10px 33px;
	border: none;
	outline: none;
	margin-bottom: 7px;
}

.file_icon {
	margin-top: 13px;
	font-size: 76px;
	color : #B9C5CC;
	margin-bottom: 6px;
}

.info_file {
	font-family: Work Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: black;
}

.modale2_footer {
	margin-bottom: 45px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.modale2_line {
	margin-bottom: 38px;
	width: 420px;
}

.modale2_button {
	cursor: pointer;
	border: 1px solid #1D6154;
	border-radius : 60px;
	outline: none;
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background: none;
	padding : 9px 28px 9px 30px;
	color: white;
	background: #1D6154;
	width: 237px;
}

.button_grey {
	background: #A7A7A7;
	border: none;
}

.button_grey:hover {
	cursor: initial;
}

.form_file {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.input_style {
	width: 420px;
	height: 51px;
	background: white;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	flex-shrink: 0;
	border: none;
	outline: none;
	margin-top: 10px;
	margin-bottom: 21px;
}

.select_style {
	width: 420px;
	height: 51px;
	background: white;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	flex-shrink: 0;
	border: none;
	outline: none;
	margin-top: 10px;
}

.label_style {
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.imageajouter{
	display: flex;
	flex-direction: column;
}
.display_none {
	display:none;
}